#Zone {
    position: absolute;
    width : 1690px;
    height : 600px;
    border : solid black 1px;
    background-image: url('https://wallpaperaccess.com/full/4622688.png'); 
    background-position:  center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: repeat-x;
    animation: background-move 8000ms linear infinite;
}

@keyframes  background-move {
	from { background-position: 0px; } 
	to { background-position: -1500px; }
     }

#Flappy {
    background-image: url('https://raw.githubusercontent.com/emwiewiora/flappy-bird/main//img/flappy-bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
    background-repeat: no-repeat;
    left : 200px;  
    top : 250px;
}


#block1 {
    position: absolute;
    width : 60px;
    height : 250px;
    background-image: url('https://raw.githubusercontent.com/emwiewiora/flappy-bird/main//img/flappybird-pipe.png');
    transform: rotate(180deg);
    z-index: 3;
    animation: run 3s linear infinite;
    left: 600px;
  
}

#block2 {
    position: absolute;
    width : 60px;
    height : 150px;
    background-image: url('https://raw.githubusercontent.com/emwiewiora/flappy-bird/main//img/flappybird-pipe.png');
    z-index: 3;
    animation: run 3s linear infinite;
    left: 600px;
    left: 600px;
    top : 459px;  
}

@keyframes run {
    from {
        right: -70px;
    }
  
    to {
        left: -70px;
    }
  }
